body.login {
	background-color: #fff;
	color: #fff;
	/* padding-top: 70px;*/
  font-family: Open Sans;
}
body.login .form-control{
  font-family: Open Sans;

}
.loginbox{padding:20px !important;border:2px solid #bdc3c7;}
body.login .navbar-nav{margin-top: 40px;}
body.login .navbar-default .navbar-nav>li>a{color:#444;font-size: 14px;padding: 5px 15px;font-weight: 400;text-transform: uppercase;}
body.login .navbar-nav>li>a:hover{
    color: #02adf4;
    text-decoration: none;
    padding-bottom: 10px;
    background: url(images/orange_ul.png) bottom repeat-x;
}
body.login .navbar-default{
          background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1)!important;
}
nav.navbar-static-top {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1)!important;
}
.sidebar{
    background-color: #fff;
    /*border-bottom: 1px solid rgba(0,0,0,.2);*/
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.1)!important;
    box-shadow: 0 0 7px rgba(0,0,0,0.3)!important;
}
body.login .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffa64d;
    background-color: transparent;
}
body.login form a {
	color: #1DCFAC;
	font-size: 13px;
}

body.login form .input-group {
	margin-bottom: 20px;
    width: 100%;
}

body.login .btn {
	text-transform: uppercase;
    margin-left: 20%;
    width: 60%;
}

body.login .btn > span {
	font-size: 12px;
	position: relative;
	top: -1px;
	margin-left: 5px;
}

body.login form .input-group .input-group-btn button.btn {
	border: 0px;
	line-height: 22px;
	background-color: #2C3E50;
}

body.login form input[type="email"], body.login form input[type="password"], body.login form input[type="text"] {
	border: 0px;
	background-color: #ddd;
	color: #555;
}

body.login h2 {
	margin-bottom: 40px;
	font-weight: 200;
	font-size: 22px;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: 4px;
}

body.login .alert-success {
	border: 0px;
}

body.login h5.smaller {
	color: #ddd;
	font-weight: normal;
	font-size: 18px;
}

body.login h5.smaller > span {
	margin-right: 10px;
}

body.login form .btn-primary {
	margin-bottom: 10px;
}

body.login .divider {
	border-bottom: 2px solid #bdc3c7;
	line-height: 0px;
	text-align: center;
	width: 100%;
	height: 1px;
	padding: 0px;
	margin: 40px 0px;
}

body.login .divider > span {
	background: #3A5168;
	padding: 0px 15px;
}
.navbar-brand>img {
    display: block;
    margin-left: 20px;
}
/*custom lines */
.regform h6{margin-top:0;margin-bottom: 15px;}
#footer-wrapper{background-color:#2e2e2e; position:relative; color:#ccc;margin-top: 70px;}
#footer-wrapper a{color:#ccc;font-size: 14px;}
#footer-wrapper a:hover,#footer-wrapper a:focus{color:#ccc;}
#footer-wrapper .contactdetail p {
    margin-bottom: 10px;
    font-size: 14px;
}
.contactdetail .fa {
    margin-right: 20px;
    font-size: 16px;
}
#footer-wrapper .social-icons a {
   color: #c1c0c0;
    border-color: #c1c0c0;
}
#footer-wrapper .social-icons a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 5px 0;
    padding: 0;
    color: #c1c0c0;
    border: 2px solid #c1c0c0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkt-border-radius: 50%;
    text-decoration: none;
}
#footer-wrapper .social-icons a:before{margin-left: 10px;}
.copyright-wrapper {  background-color:#0a0c0d; position:relative; padding:15px 0;}
.copyright-wrapper a:hover{ color:#fff;}
.copyright-txt { float:left;font-size: 14px;}
.copyright-txt span{color:#02adf4;}
.design-by { float:right;}

.new_site_ribbon {
  position: absolute;
top: 240px;
right: 50px;
height: 34px;
background: rgb(255,166,77);
padding: 4px 5px;
color:#fff;
font-weight: 700;
}
.new_site_ribbon:before {
  content: "";
width: 0;
height: 0;
border-width: 13px 8px;
border-style: solid;
border-color: rgb(255,166,77) rgb(255,166,77) rgb(255,166,77) transparent;
position: absolute;
left: -10px;
}
.new_site_ribbon:after {
position: absolute;
    content: '';
    width: 0;
    height: 0px;
    border-left: 18px solid rgb(255,166,77);
    border-top: 24px solid transparent;
    border-bottom: 26px solid transparent;
    right: -18px;
    bottom: -8px;
}

.login .navbar {
    font-size: 16px;
    min-height: 104px;
}
.gap {
    border-top: 1px solid #555;
}
.clear{clear:both;}
#footer-wrapper .widget-column-1>div {
    border-right: 1px solid #555;
    min-height: 190px;
    font-size: 14px;
}
#footer-wrapper .widget-column-3>div {
    border-right: 1px solid #555;
    min-height: 190px;
}
.cols-4 {
    width: 22%;
    float: left;
    margin: 0 3% 2% 0;
    padding: 35px 0 20px;
}
.action-list {
    float: right;
    list-style: none;
 padding:12px 15px;
    margin: 0;
}
.site-header{padding:0 15px;}
.logo-inside{width:160px;height: auto;}
.brand-navbar{margin-left: 20px;}

#menu-menu-2 li{display: inline-block;}
#footmenu li a {
    padding: 0 20px;
    font-size: 14px;
    text-transform: capitalize;
}
#footmenu,#foottitle{margin-top:20px;}
.textwidgeth3{font-size: 25px}
.regform{background: #ebebec;padding: 20px;/*min-height: 460px;*/}
.regform h6{color:#222;text-align: center;}
.action-list {
    float: right;
    list-style: none;
 padding:12px 15px;
    margin: 0;
}
.site-header{padding:0 15px;}
.logo-inside{width:148px;height: auto;}
.sitelists{display: inline;margin-left: 200px; font-size: 18px;}
.page-header {
    padding-bottom: 9px;
    margin: 15px 0;
    border-bottom: 1px solid #eee;
}
.btn-facebook{background: #3f5c9a;color: #fff;padding: 5px;letter-spacing: 2px;font-size: 14px;}
.btn-facebook:hover{color:#fff;}
.text-center{color:#555;}
/*
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

}

/*** progress steps csss **/
*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 90%;
    margin:0 auto 20px auto;
    position: relative;
    background: #F5F5F5;
    height:90px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;
    box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;

}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 32px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    /*top:16px;*/
    width:33.3333%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.moresteps{color:#222;font-size: 14px;text-align: center;font-style: italic;}
 .setup-content1 .col-xss-6{min-height: 312px;}
.col-xss-6{width:100%;margin:0 auto 20px auto;  background: #F5F5F5;border-radius: 5px;min-height: 370px;height: auto;display: block;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;
    box-shadow: 0 0 7px rgba(0,0,0,0.5)!important;
    padding: 20px 60px;
}
.page-header{font-size: 26px !important;}
.stepscount{color:#ffa64d;font-size: 24px;text-align: center;padding: 0;margin-top: 0 !important}
.form-group-footer{position: absolute;bottom: 36px;width:86%;}
.diy-color {
    color: #ffa64d;
}
#iwill,#youwill {transform: scale(1.5); }
.doradio label{font-size: 18px;}
.sitbuild-screen {height: auto;width:540px;max-width:100%;}
.clock{font-size: 34px;color:#333;}
.payinfo{display: none;margin-bottom: 30px;}
.cost-data{padding-bottom: 20px;}
.cost-data .btn{font-size: 12px;}
.payinfostatus{display: none;}
.panel-title {display: inline;font-weight: bold;}
.sitebuild{text-align: center;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
.tools-details{border:1px solid #cdcdcd;padding: 10px 20px 20px 20px;}
.tools-details h3{text-align: center;}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
  
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-body {
    padding: 15px;
    margin:0 15px;
}
/* Form Progress */
.progress {
  width: 100%;
  height: 100px !important;
  margin: 0px auto 20px auto;
  text-align: center;
  padding-top: 18px;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 50px; height: 50px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 150px;
  height: 10px;
  top: -36px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}
.progress .circle.predone .label {
  color: #FFF;
  background: #888;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .bar.predone,
.progress .circle.predone {
  background: #eee;
}
.hladjust1{margin-left:-30px !important;}
.hladjust2{margin-left:-50px !important;}
.hladjust3{margin-left:-18px !important;}
.setup-content1 .form-control{width: 50%;}
.col-md-nxt{clear:both;line-height: 26px;padding-top: 10px;min-height: 90px;}
.setup-content2 .box-content{min-height:220px;border:2px solid #ddd;padding: 10px 15px;}
.setup-content2 .box-content img{max-width: 100%;height: auto;}
.setup-content2 .box-content h3{font-weight: 700;}
 .setup-content2 .box-content:hover{
    box-shadow: 0 5px 17px 0 rgba(23,84,116,0.18);
    z-index: 15;
}
.setup-content2 .col-xss-6{height: 386px;}
.setup-content1 .diy-color,.setup-content2 .diy-color,.setup-content3 .diy-color{margin-top: 0;}
.radiobox{border-top:1px solid #ddd; padding:5px 0;width:100%;min-height: 44px;}
.col-md-121{clear: both;}
/*** end ***/
.navbar-brand{padding: 0 15px;}
.navbar-static-top{height: 65px;}
#wrapper .navbar-header{width: 70%}
.navbar-header-links{width:11%;float:left;padding-top:10px; }
.navbar-header-name{width:18%;float: left;padding-right: 15px;}
.navbar-header-name img{width:52px;height: auto;}
.navbar-header-name .col-md-12{padding:15px;}
.proicon{position: absolute;top:10px;left:2px;}
.proname{left: 65px;
    position: absolute;
    text-align: right;}
.proname-left{padding:15px;float: left;width: 100%;border-bottom: 1px solid #ddd;}    
.proname-left p{display: inline;}
.proname-left img{width:52px;height: auto;}
.proname-left span{font-weight: 700;}
.navbar-header-name a{color:#333;font-weight: 700; text-decoration: none; }
.navbar-header-links .nav>li:first-child{border-left:1px solid #ddd;}
.navbar-header-links .nav>li:last-child{border-left:1px solid #ddd;border-right:1px solid #ddd;}
.signupstage .page-header{font-size: 18px;}
.needweb .col-md-5 {
  float:right;
}
.needweb .col-md-7 {
  float:left;
}
#users-table th{background:#8bc435;font-size: 12px;color:#fff;border-bottom: 1px solid #fff;padding:8px 10px;text-align: left; }
#users-table td a:hover{text-decoration: none;}
#users-table td a{text-decoration: none;padding: 2px 4px;}
.tools-box{background: #cdcdcd;border:1px solid #ddd;padding: 20px 10px;}

@media (max-width:1190px){
.needweb .col-md-5 {
  padding-left: 60px !important;
  padding-right: 0px !important;
}
}
@media (max-width:990px){
.needweb .col-md-5 {
width:100%;
}
.regform{width: 75%;margin: 0 auto;}
}
@media (max-width:768px){
body.login .navbar-default {
    background-color: #ddd;
    }
 body.login .navbar-nav {
    margin-top: 2px;
}   
.navbar-brand>img {
    display: block;
    width:120px;
    height: auto;
}
.navbar-default .navbar-collapse{
    background: #ddd;
}
.login .navbar{min-height: auto;}
.needweb .col-md-5 {
  float:left;
  width:100%;
}
.needweb .col-md-7 {
  float:left;
  width:100%;
}
.regform{width: 75%;margin: 0 auto;}
}